In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [4]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [5]:
len(data)

1890

# Предобработка датасета

In [6]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [8]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [9]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [11]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [12]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [13]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [17]:
round(data.runtime.mean())

110

In [18]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [20]:
round(data.runtime.median())

106

In [21]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [41]:
#data[data.revenue == data.revenue.max()]
data[(data.revenue - data.budget).max() == data.revenue - data.budget]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009

In [25]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [44]:
#data[data.revenue == data.revenue.min()]
data[(data.revenue - data.budget).min() == data.revenue - data.budget]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [45]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [47]:
len(data.query('revenue - budget > 0'))

1478

In [48]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [75]:
profit = data.revenue - data.budget
profit.name = 'profit'
data[data.release_year == 2008].join(profit).sort_values(['profit'], ascending=False).head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,1537,5.6,2008,601636033
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,805,6.2,2008,557841637
607,tt0441773,3.036644,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,1938,6.8,2008,501744560
622,tt0448157,1.800286,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,1764,6.0,2008,474029371

In [76]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [80]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].join(profit).sort_values(['profit'], ascending=True).head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171

In [81]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [92]:
genres_bag = []
for genre in data.genres:
    genres_bag += genre.split('|')
import collections
genres_counter = collections.Counter(genres_bag)
genres_counter.most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416)]

In [93]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [96]:
genres_bag = []
for genre in data.query('revenue - budget > 0').genres:
    genres_bag += genre.split('|')
genres_counter = collections.Counter(genres_bag)
genres_counter.most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [97]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [98]:
collections.Counter(data.director).most_common(5)

[('Steven Soderbergh', 13),
 ('Ridley Scott', 12),
 ('Clint Eastwood', 12),
 ('Steven Spielberg', 10),
 ('Shawn Levy', 10)]

In [99]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [100]:
collections.Counter(data.query('revenue - budget > 0').director).most_common(5)

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9)]

In [101]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [344]:
director_profit = data.director.to_frame().join(profit.to_frame())
import itertools
# let's say that for joint films each director separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in director_profit.itertuples()]
director_profit_denormalized = pd.DataFrame(itertools.chain(*tmp), columns=['director', 'profit'])
director_total_profit = director_profit_denormalized.groupby('director').profit.sum().sort_values(ascending=False)
director_total_profit.head(10)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
James Cameron        2548546718
Francis Lawrence     2476979588
Pierre Coffin        2452006832
Steven Spielberg     2449700791
Joss Whedon          2424593677
Name: profit, dtype: int64

In [237]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [342]:
cast_profit = data.cast.to_frame().join(profit.to_frame())
# let's say that each actor separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in cast_profit.itertuples()]
actor_profit = pd.DataFrame(itertools.chain(*tmp), columns=['actor', 'profit'])
actor_total_profit = actor_profit.groupby('actor').profit.sum().sort_values(ascending=False)
actor_total_profit.head(10)

actor
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
Orlando Bloom         5148578162
Johnny Depp           4776417000
Ralph Fiennes         4739260140
Michelle Rodriguez    4608031235
Anne Hathaway         4490351538
Name: profit, dtype: int64

In [249]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [343]:
cast_profit = data[data.release_year == 2012].cast.to_frame().join(profit.to_frame())
# let's say that each actor separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in cast_profit.itertuples()]
actor_profit = pd.DataFrame(itertools.chain(*tmp), columns=['actor', 'profit'])
actor_total_profit = actor_profit.groupby('actor').profit.sum().sort_values(ascending=True)
actor_total_profit.head(10)

actor
Kirsten Dunst    -68109207
Heidi Hawkins    -51893525
James Kidnie     -51893525
Timothy Spall    -51893525
Malin Ã…kerman   -43733509
Danny Huston     -32893443
Nicolas Cage     -32893443
Josh Lucas       -32893443
Sami Gayle       -32893443
Jim Sturgess     -23410657
Name: profit, dtype: int64

In [253]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [263]:
actors_bag = []
for cast in data[data.budget > data.budget.mean()].cast:
    actors_bag += cast.split('|')
actor_counter = collections.Counter(actors_bag)
actor_counter.most_common(10)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15),
 ('Eddie Murphy', 15),
 ('Mark Wahlberg', 14),
 ('Hugh Jackman', 14),
 ('Ben Stiller', 14),
 ('Jamie Foxx', 14)]

In [264]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [272]:
genres_bag = []
for genres in data[data.cast.str.contains('Nicolas Cage')].genres:
    genres_bag += genres.split('|')
genre_counter = collections.Counter(genres_bag)
genre_counter.most_common()

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

In [271]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [274]:
companies_bag = []
for production_companies in data.production_companies:
    companies_bag += production_companies.split('|')
company_counter = collections.Counter(companies_bag)
company_counter.most_common(10)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 117),
 ('Twentieth Century Fox Film Corporation', 109),
 ('Relativity Media', 99),
 ('New Line Cinema', 88),
 ('Walt Disney Pictures', 82),
 ('Village Roadshow Pictures', 63),
 ('DreamWorks SKG', 62)]

In [275]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [277]:
companies_bag = []
for production_companies in data[data.release_year == 2015].production_companies:
    companies_bag += production_companies.split('|')
company_counter = collections.Counter(companies_bag)
company_counter.most_common(10)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Paramount Pictures', 7),
 ('Columbia Pictures', 7),
 ('TSG Entertainment', 6),
 ('Legendary Pictures', 5),
 ('New Line Cinema', 5),
 ('RatPac-Dune Entertainment', 5),
 ('Blumhouse Productions', 5)]

In [278]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [291]:
companies_profit = data[data.genres.str.contains('Comedy')].production_companies.to_frame().join(profit.to_frame())
# let's say that each actor separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in companies_profit.itertuples()]
company_profit = pd.DataFrame(itertools.chain(*tmp), columns=['company', 'profit'])
company_total_profit = company_profit.groupby('company').profit.sum().sort_values(ascending=False)
company_total_profit.head(10)

company
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
Pixar Animation Studios                   4232507237
Warner Bros.                              3894922770
New Line Cinema                           3259242692
DreamWorks SKG                            3143226857
Paramount Pictures                        3055625722
Name: profit, dtype: int64

In [292]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [293]:
companies_profit = data[data.release_year == 2012].production_companies.to_frame().join(profit.to_frame())
# let's say that each actor separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in companies_profit.itertuples()]
company_profit = pd.DataFrame(itertools.chain(*tmp), columns=['company', 'profit'])
company_total_profit = company_profit.groupby('company').profit.sum().sort_values(ascending=False)
company_total_profit.head(10)

company
Columbia Pictures            2501406608
Universal Pictures           1981011579
Marvel Studios               1299557910
Warner Bros.                 1258020056
Relativity Media             1032593938
New Line Cinema              1028114941
Metro-Goldwyn-Mayer (MGM)    1010869947
Legendary Pictures            982041287
Summit Entertainment          961582873
Dune Entertainment            892186707
Name: profit, dtype: int64

In [294]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [301]:
paramount_films_profit = data[data.production_companies.str.contains('Paramount Pictures')].loc[:, ['imdb_id', 'original_title', 'production_companies']].join(profit.to_frame())
paramount_films_profit.sort_values(['profit']).head(5)

,imdb_id,original_title,production_companies,profit
926,tt0267626,K-19: The Widowmaker,Paramount Pictures|Intermedia Films|National G...,-64831034
1124,tt0300556,Timeline,Paramount Pictures|Donners' Company|Mutual Fil...,-60519261
1723,tt0435705,Next,Paramount Pictures|Virtual Studios|Revolution ...,-51788987
1624,tt0375173,Alfie,Paramount Pictures|Patalex Productions,-46604061
1632,tt0315297,Twisted,Paramount Pictures|Kopelson Entertainment|Harl...,-24805000

In [302]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [309]:
years_profit = data.release_year.to_frame().join(profit.to_frame())
year_profit = years_profit.groupby('release_year').profit.sum()
year_profit.sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [310]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [311]:
years_profit = data[data.production_companies.str.contains('Warner Bros.')].release_year.to_frame().join(profit.to_frame())
year_profit = years_profit.groupby('release_year').profit.sum()
year_profit.sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [312]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [335]:
release_month = data.release_date.apply(lambda s: s.split('/')[0])
release_month.name = 'release_month'
collections.Counter(release_month).most_common()

[('9', 227),
 ('12', 191),
 ('10', 186),
 ('8', 161),
 ('3', 156),
 ('4', 149),
 ('6', 147),
 ('11', 146),
 ('7', 142),
 ('5', 140),
 ('2', 135),
 ('1', 110)]

In [336]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [339]:
release_month = data.release_date.apply(lambda s: s.split('/')[0])
release_month.name = 'release_month'
month_count = dict(collections.Counter(release_month).most_common())
month_count['6'] + month_count['7'] + month_count['8']

450

In [340]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [363]:
directors_month = data.director.to_frame().join(release_month.to_frame())
# let's say that for joint films each director separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in directors_month.itertuples()]
directors_month_denormalized = pd.DataFrame(itertools.chain(*tmp), columns=['director', 'month'])
#director_total_profit = director_profit_denormalized.groupby('director').profit.sum().sort_values(ascending=False)
winter_films_directors = directors_month_denormalized[directors_month_denormalized.month.isin(('12', '1', '2'))].director
collections.Counter(winter_films_directors).most_common()[:5]

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

In [364]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [400]:
release_month = data.release_date.apply(lambda s: int(s.split('/')[0]))
release_month.name = 'release_month'
release_month_year = release_month.to_frame().join(data.release_year.to_frame())
month_year_profit = release_month_year.join(profit.to_frame())
max_monthly_year_profit = month_year_profit.groupby('release_year').profit.max().to_frame()
most_profitable_month_year = max_monthly_year_profit.merge(month_year_profit, on=['release_year', 'profit'])
collections.Counter(most_profitable_month_year.release_month).most_common()

[(12, 5), (11, 3), (6, 3), (5, 2), (7, 2), (4, 1)]

In [401]:
answer_ls.append(3)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [410]:
companies_title = data.loc[:, ['production_companies', 'original_title']]
# let's say that each actor separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in companies_title.itertuples()]
company_title = pd.DataFrame(itertools.chain(*tmp), columns=['company', 'title'])
company_title['title_len'] = company_title.title.apply(lambda s: len(s))
company_title_avg_len = company_title.groupby('company').title_len.mean().sort_values(ascending=False)
company_title_avg_len.head(10)

company
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
The Saul Zaentz Company      43.0
Lucasfilm                    41.5
TSBD Canada Productions      41.0
Cool Music                   41.0
Iron Film                    41.0
Name: title_len, dtype: float64

In [418]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [422]:
companies_title = data.loc[:, ['production_companies', 'original_title']]
# let's say that each actor separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in companies_title.itertuples()]
company_title = pd.DataFrame(itertools.chain(*tmp), columns=['company', 'title'])
company_title['title_words_cnt'] = company_title.title.apply(lambda s: len(s.split()))
company_title_words_cnt = company_title.groupby('company').title_words_cnt.mean().sort_values(ascending=False)
company_title_words_cnt.head(10)

company
Four By Two Productions           12.0
Jim Henson Company, The           10.0
Polsky Films                       9.0
The Saul Zaentz Company            9.0
Dos Corazones                      9.0
Total Entertainment                8.0
Lucasfilm                          8.0
Zohar International                8.0
Cool Music                         8.0
Harry Potter Publishing Rights     8.0
Name: title_words_cnt, dtype: float64

In [423]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [457]:
import re
#title_list = data.original_title.apply(lambda s: re.sub('[^\w]', ' ',  s).split())
#title_list.name = 'title_list'
#data.original_title.to_frame().join(title_list.to_frame())
# Way 1. Word is alphanumeric.
#len(set(itertools.chain(*data.original_title.apply(lambda s: re.sub('[^\w]', ' ',  s.lower()).split()))))
# Way 2. Word is aplha only.
#len(set(itertools.chain(*data.original_title.apply(lambda s: re.sub('[^A-z]', ' ',  s.lower()).split()))))
# Way 3. Dirty words.
len(set(itertools.chain(*data.original_title.apply(lambda s: s.lower().split()))))

2461

In [ ]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [472]:
df = data.loc[:, ['original_title', 'vote_average']].sort_values(['vote_average'], ascending=False).head(int(len(data)*0.01))
df.sort_values('original_title')

                                         original_title  vote_average
1192                                   12 Years a Slave           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
128                                           Gone Girl           7.9
119                             Guardians of the Galaxy           7.9
370                                           Inception           7.9
9                                            Inside Out           8.0
118                                        Interstellar           8.0
1801                                            Memento           7.9
34                                                 Room           8.0
28                                            Spotlight           7.8
600                                     The Dark Knight           8.1
138                            The Grand Budapest Hotel           7.9
125                                  The Imitation Game           8.0
497   The Lord of the Rings: The Fellowship of the Ring           7.8
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1184                            The Wolf of Wall Street           7.9

In [473]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [500]:
cast = data.cast.apply(lambda s: s.split('|'))
cast_pairs_grouped = cast.apply(lambda x: tuple(itertools.combinations(x, 2)))
cast_pairs = list(itertools.chain(*cast_pairs_grouped))
cast_pairs = [str(sorted(pair)) for pair in cast_pairs]
collections.Counter(cast_pairs).most_common(10)

[("['Daniel Radcliffe', 'Rupert Grint']", 8),
 ("['Daniel Radcliffe', 'Emma Watson']", 8),
 ("['Emma Watson', 'Rupert Grint']", 8),
 ("['Ben Stiller', 'Owen Wilson']", 6),
 ("['Helena Bonham Carter', 'Johnny Depp']", 6),
 ("['Paul Walker', 'Vin Diesel']", 5),
 ("['Adam Sandler', 'Kevin James']", 5),
 ("['Hugh Jackman', 'Ian McKellen']", 5),
 ("['Kristen Stewart', 'Robert Pattinson']", 5),
 ("['Kristen Stewart', 'Taylor Lautner']", 5)]

In [501]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [526]:
director_profit = data.director.to_frame().join(profit.to_frame())
# let's say that for joint films each director separately has full profit
# that is, we have duplicates and we are clearly aware of this
tmp = [tuple(itertools.product(item[1].split('|'), [item[2]])) for item in director_profit.itertuples()]
director_profit_denormalized = pd.DataFrame(itertools.chain(*tmp), columns=['director', 'profit'])
director_profit_denormalized['is_profit'] = director_profit_denormalized.profit.apply(lambda x: 1 if x > 0 else 0)
director_all_films_cnt = director_profit_denormalized.groupby('director').is_profit.count()
director_all_films_cnt.name = 'director_all_films_cnt'
director_profit_films_cnt = director_profit_denormalized.groupby('director').is_profit.sum()
director_profit_films_cnt.name = 'director_profit_films_cnt'
director_success = director_profit_films_cnt/director_all_films_cnt
director_success.name = 'director_success'
#director_success.sort_values(ascending=False).head(10)
director_success.loc[[
    'Quentin Tarantino', 
    'Steven Soderbergh', 
    'Robert Rodriguez', 
    'Christopher Nolan', 
    'Clint Eastwood']].sort_values(ascending=False)

director
Christopher Nolan    1.000000
Quentin Tarantino    0.857143
Clint Eastwood       0.833333
Steven Soderbergh    0.769231
Robert Rodriguez     0.727273
Name: director_success, dtype: float64

In [527]:
answer_ls.append(4)

# Submission

In [528]:
len(answer_ls)

36

In [529]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       3
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4